name: zenify
description: Powerful asynchronous state management, automatic caching, hierarchical DI, and zero-boilerplate reactivity. A holistic architecture for modern Flutter apps.

version: 1.3.1
homepage: https://github.com/sdegenaar/zenify
repository: https://github.com/sdegenaar/zenify
issue_tracker: https://github.com/sdegenaar/zenify/issues
documentation: https://github.com/sdegenaar/zenify/tree/main/doc

topics:
  - state-management
  - async-state
  - caching
  - dependency-injection
  - react-query

platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0